@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Job Checker</h1>
    <p>A place to see where if HR Asia Companies are listed under Maybank GLC.</p>
</div>
