@model ICollection<TheCompany>;

@{
    ViewData["Title"] = "Job Checker";

}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Is Featured</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var child in Model)
        {
            <tr>
                <td>@(child.Name)</td>
                <td>@(child.IsFeatured)</td>
            </tr>
        }
    </tbody>
</table>